schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="anti" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="icon"/>
              <xs:element type="xs:string" name="license-img"/>
              <xs:element type="xs:string" name="license"/>
              <xs:element type="xs:string" name="scan"/>
              <xs:element type="xs:string" name="permanent"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="web"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>